# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# VSCode / VSCodium
.vscode/
.history/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Output files
*.csv
*.png

build/
dist/
*.egg-info/
